<h1>Admin Dashboard <small class="pull-right">
  <%= link_to 'Sign Out', logout_url, method: :delete %></small></h1>
<p>
  Welcome
</p>

<p>It's <%= Time.now %></p>
<p>
  We have <%= pluralize(@total_orders, "order") %>.
</p>
