// Place all the styles related to the Store controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.store {
  h1 {
    margin: 0;
    padding-bottom: 0.5em;
    font: 150% sans-serif;
    color: #111;
  }

  // An entry in the store catalog
  .entry {
    @include span-columns(3);
    @include omega(5n);
    background: #F5F5F5;
    padding: 1em;
    margin-bottom: 1em;
    min-height: 300px;
    img {
      width: 100%;
      height: 100px;
      margin-right: 5px;
      margin-bottom: 5px;
    }

    h3 {
      font-size: 14px;
      font-family: 'Helvetica-Light',arial,sans-serif;
      font-weight: 600;      
      margin-top: 0;
      margin-bottom: 2px;
      color: #666;
    }

    p, div.price_line {
      margin-top: 0.5em;
      margin-bottom: 0.8em;
      color: #666;
      form, div {
        display: inline;
      }
    }

    .price {
      color: #ea5a0b;
      font-weight: bold;
      margin-right: 3em;
    }
  }

  .pagination {
    clear: both;
    text-align: center;
    padding: 1em 0;
    display: block;
  }
}
